.searchHistory {
  margin-top: 16px;

  .headline {
    font-weight: 600;
    margin-bottom: 8px;
  }


  .listItem {
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
}